name: 'publish'
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''
          - platform: 'windows-latest'
            args: ''
    runs-on: ${{ matrix.platform }}
    steps:
      - run: echo ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v4
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libglib2.0-dev libcairo2-dev libpango1.0-dev libatk1.0-dev libgdk-pixbuf2.0-dev libgtk-3-0 xvfb jq
      - name: install jq (windows only)
        if: matrix.platform == 'windows-latest'
        run: choco install jq
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'
      - name: install frontend dependencies
        run: bun install
      - name: Get app version
        id: get_version
        run: echo "version=$(jq -r '.package.version' src-tauri/tauri.conf.json)" >> $GITHUB_OUTPUT
        shell: bash
      - name: Build Tauri app
        run: |
          if [[ "${{ matrix.platform }}" == "ubuntu-22.04" ]]; then
            xvfb-run cargo tauri build ${{ matrix.args }}
          else
            cargo tauri build ${{ matrix.args }}
          fi
      - name: Create or update release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
          name: 'App v${{ steps.get_version.outputs.version }}'
          body: 'See the assets to download this version and install.'
          draft: true
          prerelease: true
          files: src-tauri/target/release/bundle/**/*
      - name: Build ruactl (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          xvfb-run cargo build --manifest-path src-tauri/Cargo.toml --bin ruactl --release
          cd src-tauri/target/release
          tar -czf ruactl-linux-x86_64.tar.gz ruactl
      - name: Upload ruactl to release (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        uses: softprops/action-gh-release@v2
        with:
          files: src-tauri/target/release/ruactl-linux-x86_64.tar.gz
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
